/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;}
body {
	line-height: 1;}
ol, ul {
	list-style: none;}
blockquote, q {
	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
.AEA{




    text-align: center;
    font-size: 800%;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
main{
    color: rgb(2, 2, 250);
    background-image: url();
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;}
nav{

    background-color: rgb(255, 94, 94);
    padding: 3%;
    margin: 1%;}
header{

    background-color:rgb(79, 125, 209)}
.footer{


    padding: 5%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;}
.tor{

   
    padding: 5%;
    margin: auto;
    font-size: 140%;
    text-align: left;
    font-size: 150%;}
.tor2{

  
    padding: 12%;
    text-align: left;
    font-size: 150%;}
.tor3{

  
    padding: 12%;
    margin: auto;
    text-align: left;
    font-size: 150%;}
.tor4{

    
    padding: 12%;
    text-align: left;
    font-size: 150%;}
.tor5{

   
    padding: 12%;
    text-align: left;
    font-size: 150%;}
.tor6{


    font-size: 150%;}
.titulokali{

font-size: 400%;
text-align: center;
padding-top: 4%;
padding-bottom: 5%;}
.titulokali2{

    font-size: 400%;
    text-align: center;}
.logo{
 width: 10%; }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%; height: 50%;} 
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;}
tr:nth-child(even) {
    background-color: #dddddd;}
body{

    background-image: image();}
.linha{

display: flex;

}

/*Link não visitado */
a:link {
  color: rgb(0, 247, 255);
  text-decoration: none;
}

/*Link já visitado*/
a:visited {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

/*Quando o mouse passa por cima*/
a:hover {
  color: rgb(77, 255, 7);
  text-decoration: none;
}

/*Link ativo/selecionado*/
a:active {
  color: rgb(255, 255, 2);
  text-decoration: none;
}
.linha{

  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
}
.AEIOU{

padding-left: 40%;


}
.code{

display: block;
overflow-x: auto;
padding: 4%;
margin: 4%;
color: #abb2bf;
background: #282c34;
font-size: large;



}