/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;}
body {
	line-height: 1;}
ol, ul {
	list-style: none;}
blockquote, q {
	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
.AEA{



    text-align: center;
    font-size: 800%;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}


body{

 background-color: #75a0f5;



}
main{
    color: rgb(2, 2, 250);
    background-color: cadetblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;}
nav{
    display: flex;
    background-color: rgb(255, 94, 94);
    padding: 1%;
    margin: 1%;

       }


.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
    
#menu-toggle {
    display: none;
}

.cabecalho{
    
    align-items: center;
    justify-content: space-between;   
    background-color: rgb(65, 105, 225, 0.4);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    margin-bottom: 30%;


}







.cabecalho{


    margin-bottom: 50%;

    

    
    
    
    
    



}
    
.footer{


    padding: 5%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;}
.tor{

   
    padding: 5%;
    margin: auto;
    font-size: 140%;
    text-align: left;
    font-size: 150%;}
.tor2{

    padding: 5%;
    margin: auto;
    font-size: 140%;
    text-align: left;
    font-size: 150%;}
.tor3{

  
    padding: 5%;
    margin: auto;
    font-size: 140%;
    text-align: left;
    font-size: 150%;}
.tor4{

    padding: 5%;
    margin: auto;
    font-size: 140%;
    text-align: left;
    font-size: 150%;}
.tor5{

   
    padding: 5%;
    margin: auto;
    font-size: 140%;
    text-align: left;
    font-size: 150%;}
.tor6{


    padding: 1%;
    margin: auto;
    font-size: 140%;
    text-align: left;
    font-size: 150%;}
.titulokali{

font-size: 400%;
text-align: center;
padding-top: 4%;
padding-bottom: 10%;
margin: 3%;}
.titulokali2{

    font-size: 400%;
    text-align: center;
    margin: 5%;
    padding-top: 5%;
}
.logo{
 width: 10%; }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%; height: 50%;} 
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;}
tr:nth-child(even) {
    background-color: #dddddd;}
body{

    background-image: image();}
.linha{

display: flex;

}

/*Link não visitado */
a:link {
  color: rgb(0, 247, 255);
  text-decoration: none;
}

/*Link já visitado*/
a:visited {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

/*Quando o mouse passa por cima*/
a:hover {
  color: rgb(77, 255, 7);
  text-decoration: none;
}

/*Link ativo/selecionado*/
a:active {
  color: rgb(255, 255, 2);
  text-decoration: none;
}
.linha{

    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;

  

}
.AEIOU{

text-align: center;


}
.code{

display: block;
overflow-x: auto;
padding: 4%;
margin: 4%;
color: #abb2bf;
background: #282c34;
font-size: large;}

.links1{

  display: flex;
  
  
  


}
.link1{




    align-items: center;

    margin-left: 30%;






}


@media (max-width: 600px) {
    .AEA {color: #75a0f5;}}

@media (max-width: 766px) {
    .links1{display: block;}}

@media (max-width: 758px) {
    .link1 {padding-left: 20%;}}
    



/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .tor,.tor2,.tor3,.tor4,.tor5,.tor6 {width: 50%;}}
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .tor,.tor2,.tor3,.tor4,.tor5,.tor6 {width: 100%;}}

@media (max-width: 600px) {
    .AEA {color: #75a0f5;
          font-size: 400%;}}


 @media screen and (max-width: 600px) {
.titulokali,.titulokali2 {font-size: 200%;}}