main{


    background-color: blue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

nav{

    background-color: aquamarine;
    padding: 3%;
    margin: auto;
}

header{

    background-color: brown;
    padding: 1%;
    margin: auto;
}

footer{


    background-color: red;
    padding: 5%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
   
}
.tor{

    background-color: brown;
    padding: 10%;
    margin: auto;
    font-size: 140%;
    text-align: center;
}

.tor2{

    background-color: rgb(18, 187, 187);
    padding: 12%;
    


}

.tor3{

    background-color: rgb(47, 17, 219);
    padding: 12%;
    margin: auto;


}
.tor4{

    background-color: blueviolet;
    padding: 12%;
    text-align: center;






}
.tor5{

    background-color: rgb(186, 187, 190);
    padding: 12%;
    text-align: center;






}
.titulokali{

font-size: 150%;
    
}
.titulokali2{

    font-size: 150%;
        
    }